<md-dialog aria-label="Searching for a game" flex-gt-sm="40" flex="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{title}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                X
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ng-cloak>
        <div class="md-dialog-content autocomplete-game-search">
            <form ng-submit="$event.preventDefault()">
                <div layout="row" ng-show="ctrl.error" class="alert alert-danger">{{ctrl.error}}</div>
                <div layout="row">
                    <md-input-container flex="100">
                        <label>Console</label>
                        <md-select name="type" ng-model="ctrl.console" required>
                            <md-option value="PS4" selected>PlayStation 4</md-option>
                            <md-option value="X1">Xbox One</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex="100">
                        <label>Game Name</label>
                        <md-autocomplete
                                md-selected-item="ctrl.selectedItem"
                                md-search-text="ctrl.searchText"
                                md-items="item in ctrl.querySearch(ctrl.searchText, ctrl.console)"
                                md-item-text="item.data.attributes.name"
                                md-min-length="1"
                                placeholder="Name of the game..."
                                md-menu-class="autocomplete-game"
                                md-autofocus>
                            <md-item-template>
                                <!--<md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>-->
                                <strong>{{item.data.attributes.name}}</strong>
                                <span class="item-metadata">
                                  {{item.data.attributes.developer}} -
                                  {{item.data.attributes.publisher}}
                                </span>
                            </md-item-template>
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No games matching "{{ctrl.searchText}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-raised md-primary" aria-label="{{buttonText}}" ng-click="ctrl.finish($event)">
            {{buttonText}}
        </md-button>
    </md-dialog-actions>
</md-dialog>