<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head/>
    <body>
        <md-content th:fragment="footer" md-scroll-y="" layout="column" flex="">
            <div layout="row" flex="noshrink" layout-align="center center">
                <div id="license-footer" flex="">
                    <a href="https://corporate-game-share.herokuapp.com" class="md-default-theme md-accent">
                        Game Share</a>
                    2017. Source on
                    <a ng-href="https://github.com/MannanM/corporate-game-share" class="md-accent">
                        GitHub</a>.
                </div>
            </div>
        </md-content>
    </body>
</html>