<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button ng-click="$parent.toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <md-icon md-font-icon="fa-bars" class="fa fa-lg"></md-icon>
        </md-button>
        <h2>
            <md-icon md-font-icon="fa-gamepad" class="fa fa-lg"></md-icon>
            <span>My Library</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" ng-click="gc.addGame($event)" aria-label="Add Game">
            <md-icon md-font-icon="fa-plus" class="fa"></md-icon>
            Add Game
        </md-button>
    </div>
</md-toolbar>
<div layout-padding flex="noshrink">
<md-content>
    <section>
        <md-subheader class="md-primary">Games You Own</md-subheader>
        <div ng-if="gc.games.length == 0">
            You haven't added any games yet. You can add games at any time by pressing the
            <md-button class="md-raised" ng-click="gc.addGame($event)" aria-label="Add Game">
                <md-icon md-font-icon="fa-plus" class="fa"></md-icon>
                Add Game
            </md-button>
            button in the top right.
        </div>
        <div class='md-padding' layout="row" layout-wrap>
            <game-card ng-repeat="game in gc.games" game="game" style=""
               flex-xl="25" flex-lg="33" flex-md="50" flex-sm="50" flex-xs="100">
            </game-card>
        </div>
    </section>
    <section>
        <md-subheader class="md-primary">Consoles You Own</md-subheader>
        <md-grid-list
                md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
                md-row-height-gt-md="1:1" md-row-height="4:3"
                md-gutter="12px" md-gutter-gt-sm="8px" >

            <md-grid-tile ng-repeat="tile in gc.consoles"
                          ng-click="gc.alert(tile.id)"
                          ng-class="tile.background">

                <md-icon md-svg-src="img/icons/console-{{tile.id}}.svg" class="s150"></md-icon>
                <md-grid-tile-footer><h3>{{tile.attributes.name}}</h3></md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </section>
</md-content>
</div>