#appHeader {
    margin: 0;
    width: 100%;
    border-bottom: dashed 1px #cccccc;
    background-color: white;
}

#appHeader h1 {
    padding-bottom: 10px;
}

#appView {
    padding-top: 20px;
}

#footerView {
    padding-top: 200px;
}
md-grid-list .green { background: #b9f6ca; }
md-grid-list .red { background: #ff8a80; }

.loginBox {
  max-width:  90%;
  width: 500px
}