#appHeader {
    margin: 0;
    width: 100%;
    border-bottom: dashed 1px #cccccc;
    background-color: white;
}

#appHeader h1 {
    padding-bottom: 10px;
}

#appView {
    padding-top: 20px;
}

#footerView {
    padding-top: 200px;
}