<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragment/header :: header"></head>
    <body layout="row" ng-app="app" ng-controller="ApplicationController as ac" ng-init="ac.init()">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <header th:replace="fragment/side-nav :: logo"></header>
            <md-toolbar th:replace="fragment/side-nav :: user-info"></md-toolbar>
            <md-list th:replace="fragment/side-nav :: links"></md-list>
        </md-sidenav>
        <div layout="column" class="relative" layout-fill="" role="main">
            <md-content flex="" md-scroll-y="">
                <div layout="column" layout-align="top center">
                    <ng-view layout-fill=""></ng-view>
                </div>
                <div flex=""></div>
            </md-content>
            <md-content th:replace="fragment/footer :: footer"></md-content>
        </div>
    </body>
</html>