<md-card md-theme="{{getTheme()}}" md-theme-watch class="md-whiteframe-11dp" >
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">
                {{game.attributes.game.attributes.name}}
            </span>
            <span class="md-subhead">
                <md-icon md-svg-src="img/icons/{{console}}.svg"></md-icon>
                {{game.attributes.game.attributes.developer}}
            </span>
        </md-card-title-text>
        <md-card-title-media>
            <img ng-src="{{game.attributes.game.attributes.image}}" class="md-media-100"/>
        </md-card-title-media>
    </md-card-title>
    <md-card-content>
        <p class="text-left">Added on {{game.attributes.created | date: 'mediumDate'}}
            &amp; {{state() | lowercase}}.</p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center" ng-switch on="state()">
        <span ng-switch-when="AVAILABLE">
            <md-button ng-click="updateGame('UNAVAILABLE')" class="md-raised">Still Playing</md-button>
            <md-button ng-click="updateGame('SOLD')" class="md-raised">Sold It</md-button>
        </span>
        <span ng-switch-when="UNAVAILABLE">
            <md-button ng-click="updateGame('AVAILABLE')" class="md-raised">Finished Playing</md-button>
        </span>
        <span ng-switch-when="SOLD">
            <md-button ng-click="updateGame('AVAILABLE')" class="md-raised">Re-Purchased</md-button>
        </span>
    </md-card-actions>
</md-card>